<?xml version="1.0"?>

<model>
  <name>microver</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Arno Laurie</name>
    <email>arno.blan334@gmail.com</email>
  </author>

  <description>
    Microver Dusty for the September 2024 XRC @ EPFL
  </description>
</model>
